{% extends "main.html" %}
{% block title %} Set New Password {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card p-4">
      <h3 class="mb-3 text-center">Set a New Password</h3>
      <form method="POST">
        <div class="mb-3">
          <label class="form-label">New Password</label>
          <input class="form-control" name="password" type="password" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Confirm Password</label>
          <input class="form-control" name="confpass" type="password" required>
        </div>
        <button class="btn btn-success w-100">Update Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
